

/* Desktop and Laptop display */

body {

	background-color: lightblue;
	
}

h1 {
	
	text-align: center;
	font-family: fantasy,copperplate;
	font-size: 50px;
	color: darkgreen;
}

#links {
	text-align: center;
}

#indexinfo {

  
  font-size: 15px;
  float: left;
	padding-right: 8%;
  
}

#home {
float: left;
width: 40%;
padding-left: 8%;
}

#home2 {
	float: left;
	width: 25%;
	

}

#tree1 {
	float: left;
	width: 35.8%;
	padding-left: 8%;
	padding-top: 3%;
}

#desktopinfo {
	float: left;
	padding-left: 5%;
	padding-top: 5%;
}

#map { 
 float: left;
 width: 600px;

 padding-left: 2%;
}

#contact {
	float: left;
	padding-top: 4%;
	padding-right:2%;
	font-size: 18px;
}

#chainsaw {
	text-align: center;

	
}

#mulch {
	
text-align: center;

}

#button1 {
	text-align: center;
}

#button2 {
	text-align: center;
}

.button {
	
	background-color: lightyellow;
}

#two {
	float: left;
	
	

}

#one {
	float: left;
	width: 450px;
	padding-left: 1%;
}

#three {
	float: left;
	padding-left: 2%;
	padding-bottom: 2%;
}

#four {
	float: right;
	width: 425px;
	padding-right:1%;
	padding-bottom: 2%;
	font-size: 19px;
}

#wide1 {
	
	padding-left: 6%;
}
	

#tabletinfo {
	display: none;
}



#tabpic1 {
	display: none;
}

#tabpicinfo {
	display: none;
}

#tabcontact {
	display: none;
}

#video1 {
	display: block;

}

#warehouse {
	float: left;
	padding-top: 5%;
	padding-left: 2%;
	color: blue;
}
#desktopinfo {
	float: left;
	padding-right: 2%;
}

#pineisland {
	padding-top: 5%;
	text-align: center;
	color: blue;
}

#mower {
	display: none;
}

#button1info {
	display: none;
}

#mulching {
	display: none;

}

#button2info {
	display: none;
}


/* Phone media query */
@media (min-width: 320px) and (max-width: 480px) {
	body {
		background-color: honeydew;
	}
 
 
#indexinfo {
	float: left;
	width: 45%;
	
}

#home {
	float: left;
	padding-left: 20px;
	width: 45%;
	height: 200px;
}

#two {
	float: left;
	padding-left: 8%;
	
}

#three {
	display: none;
	
	
}

#map {
	width: 100%;
	height: auto;
	text-align: center;
}

#contact {
	text-align: center;
	padding-left: 5%;
}
	
#tabletinfo {
display: none;
  
}

#four {
display: none;
}

#tabpic1 {
	display: none;
}

#tabpicinfo {
	display: none;
}

#tabcontact {
	display: none;
}

#video1 {
	display: none;
}

#mower {
	display: none;
}

#buttton1info {
	display: none;
}

#mulching {
	display: none;
}

#button2info {
	display: none;
}
#home2 {
	display: none;
}

#tree1 {
	display: none;
}

#desktopinfo {
	display: none;
}

#wide1 {
	display: none;
}

#warehouse {
	display: none;

}

#desktopinfo {
	display: none;
}
#button2 {
	padding-top: 5%;
}

#pineisland {
	display: none;
}
	
}

/* Tablet media query */

@media (min-width: 481px) and (max-width: 1024px) {
	
body {
	background-color: lightgrey;
}

#indexinfo {
	display: none;
	
}
	
#home {
   
   float: left;
   width: 55%;
   padding-left: 10%;
   padding-right: 0%;
   padding-top: 8%;   
}

#tabletinfo {

	float: right;
	width: 45%;
	padding-right: 10%;
	padding-left: 0%;
	font-size: 14px;
	display: block;
	padding-top: 7%;
}

#one {
	
	float: right;
	font-size: 13px;
	width: 30%;
	padding-right: 1%;
}

#two {
	
	float: left;
	width: 50%;
	padding-right: 10%;
	padding-left: 1%;
	padding-bottom: 10%;
	
}

#three {
	
	float: left;
	padding-left: 1%;
	padding-right: 65%;
	width: 50%;
	
}

#four {
   
   display: block;
   float: right;
   font-size: 13px;
   width: 30%;
   
	

}

#map {
	
	float: left;
	width: 50%;
	padding-left: 1%;
	padding-top:3%;
}

#contact {
	text-align: center;
	font-size: 12px;
	padding-right: 1%;
	padding-top: 5%;
	padding-left: 8%; 
	
}

#tabpic1 {
	display: block;
	float: left;
    padding-top: 13%;
	width: 50%;
	padding-right: 0%;
	padding-left: 10%;
}

#tabpicinfo {
	display: block;
	float: right;
	font-size: 14px;
	width: 50%;
	padding-top: 8%;
	padding-right: 10%;
	padding-left: 0%;
}

#tabcontact {
	display: block;
	text-align: center;
	font-size: 18px;
    padding-right: 5%;
	padding-left: 5%;
	padding-top: 7%;
} 

#video1 {
    display: block;
	text-align: center;
}

#mower {
	display: block;
	float: right;
	

}

#button1 {
	float: top-left;
	font-size: 12px;
	
}

#button1info {
	display: block;
	float: bottom-left;
	padding-top: 12px;
	padding-bottom: 30px;
	padding-left: 10%;
}

#mulching {
	display: block;
	float: right;
	padding-top: 50px;

}



#mulch {
	display: none;
	
}

#button2 {
	float: top-left;
	font-size: 12px;
	padding-top: 55px;
}

#button2info {
	display: block;
	float: bottom-left;
	padding-top: 12px;
	padding-left: 10%;
}

#chainsaw {
	display: none;
}

#home2 {
	display: none;
}

#tree1 {
	display: none;
}

#desktopinfo {
	display: none;
}

#wide1 {
	display: none;
}

#warehouse {
	display: none;
}

#desktopinfo {
	display: none;
}

#pineisland {
	display: none;
}
}

